{% comment %} Überschreibt den Header von minima und zeigt das Logo neben dem Website-Namen an {% endcomment %}
<header class="site-header" role="banner">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
      <div class="title">{{ site.title }}</div>
      <div class="imgcontainer">
        <img src="{{ '/assets/logo.webp' | relative_url }}" alt="Logo" class="logo" />
      </div>
    </a>
  </div>
</header>
<nav class="simplenav">
  <a href="/">Startseite</a>
  <a href="/ansprechpartner/">Ansprechpartner</a>
  <a href="/mitgliedschaft/">Mitgliedschaft</a>
  <a href="/unser-platz/">Unser Platz</a>
  <a href="/termine/">Termine</a>
</nav>
