header.site-header {
  background-image: url('/assets/platz.jpg');
  background-size: cover;
}

footer.site-footer {
  background-color: #70804f;
  text-align: right;
  padding: 1rem 1rem;
  font-size: 0.9rem;
  color: #555;
}
footer.site-footer a {
  color:#ddd;
  text-decoration:underline;
}

/* Custom header logo placement for minima theme */
.site-title {
  display: flex;
  align-items: center;
}
.site-title img.logo {
  max-height: 100px;
  width: auto;
  vertical-align: middle;
  border-radius: 6px;
}

.site-title .title {
  margin-left: 1rem;
  color: #fff;
}

.imgcontainer {
  background-color: white;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
}

.map {
  width: 100%;
  max-width: 100%;
  display: block;
  border: none;
}

.simplenav {
  background:#d6e7fb; 
  padding:0.5em 0;
  text-align:center;
}

.simplenav a {
  margin:0 1em;
  text-decoration:none;
  color:#224;
  font-weight:bold;
}

.mainimage {
  max-width: 80%;
  border-radius: 1rem;
}
