header.site-header {
  background: #81A2C4;
}
/* Custom header logo placement for minima theme */
.site-title {
  display: flex;
  align-items: center;
}
.site-title img.logo {
  max-height: 100px;
  width: auto;
  vertical-align: middle;
  border-radius: 6px;
}

.site-title .title {
  margin-left: 1rem;
}

.imgcontainer {
  background-color: white;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
}

.map {
  width: 100%;
  max-width: 100%;
  display: block;
  border: none;
}
