body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header.site-header {
  background-image: url('/assets/header.webp');
  background-size: cover;
  border: 0px;
  padding: 
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    0
    env(safe-area-inset-left);
}

footer.site-footer {
  display: flex;
  gap: 1rem;
  background-color: #70804f;
  text-align: right;
  padding: 
    0.5rem
    env(safe-area-inset-right)
    0
    max(1rem, env(safe-area-inset-left));
  font-size: 0.9rem;
  color: #555;
}
footer.site-footer a {
  color:#ddd;
  text-decoration:underline;
}

/* Custom header logo placement for minima theme */
.site-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.site-title img.logo {
  max-height: 100px;
  width: auto;
  vertical-align: middle;
  border-radius: 6px;
}

.site-title .title {
  margin-left: 1rem;
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

.imgcontainer {
  background-color: white;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
}

.map {
  width: 100%;
  max-width: 100%;
  display: block;
  border: none;
}

.simplenav {
  background: #d6e7fb; 
  padding: 
    0.5rem
    env(safe-area-inset-right)
    0.5rem
    env(safe-area-inset-left);
  text-align: center;
}

.simplenav a {
  margin:0 1em;
  text-decoration:none;
  color:#224;
  font-weight:normal;
  white-space: nowrap;
}

.simplenav a:hover {
  text-decoration:underline;
}

.mainimage {
  max-width: 80%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);

}

.event-list .event-date {
  font-weight: bold;
}

.event-list .past-event {
  color: #888;
}

.event-list .note {
  font-style: italic;
}
